{
  "singleQuote": true,             
  "semi": true,                    
  "printWidth": 100,               
  "trailingComma": "all",          
  "arrowParens": "always",         
  "bracketSpacing": true,          
  "vueIndentScriptAndStyle": true, 
  "endOfLine": "lf",               
  "tabWidth": 2,                   
  "useTabs": false,                
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve"          
}
